/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
			 padding-bottom: 95px;}  /* must be same height as the footer */

footer {position: relative;
				margin-top: -95px !important; /* negative value of footer height */
				height: 95px;
				clear:both;} 

footer > .row {
	border-top: 7px solid #e0922f;
	padding-top: 11px;
}

.fancybox-title p {
    color: white;
    margin: 0;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

body {
	font-family: 'Lato', sans-serif;
	color: black;
}

header {
	background: white;
	border-bottom: 8px solid #e0922f;
	margin-bottom: 45px;
}

#container {
    padding-bottom: 50px;
}

.home header {
	margin-bottom: 0;
}

header > .row {
	/*height: 102px;*/
	position: relative;
}

.header_content_left {
	/*position: absolute;*/
	bottom: 0;
	left: 0;
}

.header_content_right {
}

#menu-site-menu {
    margin: 0;
}

#menu-site-menu-1 {
    margin-left: 0;
}

header .menu li {
	display: inline;
	padding-left: 24px;
	text-transform: uppercase;
	font-size: 16px;
}

header .menu ul {
	margin: 0;
}


.home .row {
	max-width: 64rem !important;
}

body {
	background-color: #01071d;
	background-image: url(../img/bg.jpg);
	background-position: top center;
    background-repeat: no-repeat;
}

p {
	color: black;
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 11px;
}

a {
	color: #e0922f;
}

h1, h2, h3, h4, h5, h6 {
	color: #e0922f;
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	margin-bottom: 0;
}

.orange {
	color: #e0922f;
}

.light-blue {
	color: #06afea;
}

.home_slide {
	width: 100%;
}

.page-id-10 #content{
    padding-left: 0;
    padding-right: 0;
}

#home_slideshow {
	height: 282px;
	margin-bottom: 45px;
}

#home_slideshow_right {
	right: -1px;
	background-image: url(../img/gallery_next.png);
}

#home_slideshow_left {
	left: -1px;
	background-image: url(../img/gallery_prev.png);
}

#home_slideshow_left,
#home_slideshow_right {
	position: absolute;
	top: 145px;
	height: 62px;
	width: 18px;
	cursor: pointer;
	color: black;
	z-index: 10000;
	font-size: 50px;
	line-height: 50px;
}

header .menu li {
	position: relative;
}

header .menu .underscore {
	position: absolute;
	bottom: -11px;
	left: 24px;
	right: -1px;
	background: #06afea;
	height: 8px;
}

header .menu a {
	color: #06afea;
}

#home_slideshow h3 {
	color: black;
	padding: 0;
	margin: 0;
	font-family: 'PlayFair Display', sans-serif;
	text-align: center;
	font-size: 22px;
	font-style: italic;
}

#make_a_donation {
	position: absolute;
	top: 12px;
	right: 0;
}

#make_a_donation h6 {
	font-family: 'lato';
	text-transform: uppercase;
	font-size: 17.6px;
	margin: 0;
}

#site_logo img {
	width: 297px;
	position: relative;
	top: 10px;
    max-width: none;
}

#home_content {
	padding-top: 35px;
	padding-bottom: 20px;
}

#home_content > div {
	position: relative;
}

.blue_stripe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 4px;
	background-color: #06afea;
}


#gallery_blue_stripe {
    left: 0;
    right: 0;
}

#home_left {
	padding-right: 37px;
}

#home_middle {
	padding: 0 25px;
}

#home_right {
	padding-left: 48px;
}

#home_left .blue_stripe {
	right: 47px;
}

#home_middle .blue_stripe {
	left: 25px;
	right: 23px;
}

#home_right .blue_stripe {
	left: 48px;
}

#sidebar {
	position: relative;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 35px;
}

#sidebar h2 {
	/*padding-bottom: 7px;*/
}

#sidebar .blue_stripe {
	right: 34px;
}

#content {
	padding-left: 51px;
	padding-right: 40px;
}

.post_excerpt {
	position: relative;
	padding-top: 5px;
	padding-bottom: 20px;
}

.post_excerpt .blue_stripe {
	left: -9px;
}

#gallery_container {
	position: relative;
}

#gallery_pager::-webkit-scrollbar {
    width: 12px;
}
 
#gallery_pager::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
 
#gallery_pager::-webkit-scrollbar-thumb {
    border-radius: 10px;
		background: #e0922f;
}

#gallery_next,
#gallery_prev {
	position: absolute;
	top: 249px;
	height: 62px;
	width: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

#gallery_prev {
	left: -55px;
	background-image: url(../img/gallery_prev.png);
}

#gallery_next {
	right: -40px;
	background-image: url(../img/gallery_next.png);
}

#gallery_pager {
	height: 600px;
	padding-top: 10px;
	overflow-y: scroll;
}

#gallery_pager li {
	cursor:pointer;
}

#gallery_pager li.cycle-pager-active img {
	border: 1px solid #e0922f;
	margin: -1px;
}

#gallery_selector {
    padding-top: 10px;
}

#gallery_selector img {
    width: 100%;
    height: auto;
    padding: 0;
}

#gallery_selector .title {
    clear:both;
    width: 100%;
    float: left;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
}

#footer_logos {
	text-align: right;
}

#footer_logos a {
	padding-left: 15px;
}

footer h6 {
	color: black;
	font-family: 'lato', sans-serif;
	font-size: 16px;
}

footer .menu ul {
	margin: 0;
}

footer .menu li {
	display: inline;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid black;
}

footer .menu li:last-child {
	border: none;
}

footer .menu a {
	text-transform: lowercase;
}

.slide_image {
	width: 685px;
	height: 465px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	margin-top: 6px;
	margin-bottom: 20px;
	position: relative;
	left: -9px;
}

#sidebar_archive {
	list-style: none;
	margin-left: 21px;
}

#sidebar_archive a {
	color: black;
}

#home_content h2 {
	padding-bottom: 9px;
}

#home_slideshow img {
	position: relative;
	left: 20px;
}

article img {
	padding-top: 10px;
}

.wp-pagenavi {
	text-align: right;
}

.wp-pagenavi a {
	text-decoration: none;
	border: none;
	padding: 0;
	margin: 0 5px 0 0;
}

.wp-pagenavi .current {
	font-weight: normal !important;
	border: none;
}

.person {
	padding-top: 9px;
	padding-bottom: 20px;
}

.person img {
	margin-bottom: 4px;
}

.person h6 {
	font-family: 'lato';
	font-size: 16px;
	padding-bottom: 12px;
}

#gallery_display {
	margin-top: 7px;
}

#google_map {
	height: 400px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	margin-top: 10px;
	position: relative;
	z-index: 1;
}

#google_map img {
	max-width: none !important;
}